@import "./variables";
@import "./mixins";
@import "./extends";
@import "./functions";

@import "./header";
@import "./home";


.test{
    background-color: red;
   width: 400px;
   height: 400px;
   padding: resize(400,400,20px);

   &__model{
    color: red;
    &__text{
        font-size: 20px;
    }
   }
}


